.DS_Store

# Xcode
/.build
/*.xcodeproj
**/xcuserdata
**/xcshareddata

# Build generated
build/
DerivedData/

# Other
*.moved-aside
*.xcuserstate

# Swift Package Manager
Packages/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build

